*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
}

#display{
    font-size:200px;
    font-weight:bold;
    color:white;
    text-transform:uppercase;
    

}